body {
    background-color: #f4f7f6;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    color: #333;
}

header {
    background: #2c3e50;
    color: white;
    padding: 25px;
}

header h1 {
    font-size: 32px;
    font-weight: bold;
}

nav {
    background-color: #3498db;
    padding: 15px;
}

nav a {
    color: white;
    font-weight: bold;
    margin: 15px;
    text-decoration: none;
}

.secao {
    background-color: white;
    width: 80%;
    margin: 25px auto;
    padding: 25px;
    border-radius: 15px;
}

h2 {
    font-size: 26px;
    font-weight: bold;
    color: #2c3e50;
}

p {
    font-size: 17px;
}

button {
    background-color: #2c3e50;
    color: white;
    padding: 12px 25px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #3498db;
}

#areaTabela img {
    width: 80%;
    margin-top: 20px;
    border-radius: 10px;
}

.card {
    background: #f4f7f6;
    width: 400px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 15px;
}

#fotoJogador {
    width: 250px;
    border-radius: 12px;
    margin-bottom: 15px;
}

footer {
    background: #2c3e50;
    color: white;
    padding: 15px;
}